.grid {
  display: grid;
  grid: 25px 53px 1fr 172px
    / repeat(6, 1fr);
  grid-gap: 5px;
  grid-template-areas:
    "n n n n n n"
    "m m m m m m";
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
  min-height: 100vh;
}
